@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .bg-custom-gradient {
    background: radial-gradient(
        circle at 10% 50%,
        rgba(28, 210, 165, 0.4),
        transparent 30%
      ),
      radial-gradient(
        circle at 90% 50%,
        rgba(8, 186, 240, 0.4),
        transparent 30%
      ),
      #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-custom-linear-2 {
    @apply bg-[#fafafa] bg-gradient-to-r from-[#fafafa] to-[#c1f0ff] from-[80%] to-[100%] shadow-lg;
  }

  .bg-custom-linear {
    @apply bg-[#fafafa] bg-gradient-to-r from-[#fafafa] to-[#c1f0ff] from-[80%] to-[100%];
  }
  @screen sm {
    .bg-custom-linear {
      background: transparent;
    }
  }
}

.custom-shape-divider-bottom-1728419371 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;

  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1728419371 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1728419371 .shape-fill {
  fill: #f4f8fa;
}

html {
  scroll-behavior: smooth;
}

.scroll-reveal-wrapper {
  opacity: 0;

  transition: opacity 1.5s ease-out, transform 0.6s ease-out;
}

.scroll-reveal-wrapper.visible {
  opacity: 5;
  transform: translateY(0); /* Posición final */
}
